.touchyButton {
  transition: transform 0.1s ease-in-out, opacity 0.2s ease-out;
  transform: scale(1);
  transform-origin: center;

  background-color: var(--primary);
  color: var(--primary-foreground);

  &:active {
    transform: scaleY(0.9) scaleX(1.05) translateY(-5%) rotateX(10deg);
    transition: transform 0.05s ease-out, opacity 0.2s ease-out;
    opacity: 0.6;
  }

  &:hover {
    opacity: 0.9;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

